extends layout

block content
  h1= title
  .container
    input#bar.foo1.foo2
    h2= title
  p Welcome to LOLOLALALA  #{title}
  p Wenaaazo 
  input#bar
  input(type="text", placeholder="your name")
  input(
type='checkbox'
name='agreement'
checked
)