extends layout

include _includes/sharedHTMLfunctions	

block content
	#banner.page-header
		.row
			.col-lg-6
				h1!= pageHeader.title
					small &nbsp;!{pageHeader.description}
	.row
		.col-xs-12.col-sm-8
			.row.list-group
				each service in services
					.col-xs-12.list-group-item
						h4
							a(href="/info-service")= service.name 
							small &nbsp;
								+outputRating(service.rating)
							span.badge.pull-right.badge-default= service.distance
						p.address= service.address
						p
							each servicio in service.services
								span.label.label-success= servicio
								&nbsp;
												
		.col-xs-12.col-sm-4
			p.Buscas donde hospedar? en Raices del Ñuble tenemos todo para tu experiencia turística. Quizás buscas lugares unicos, deporte aventura o tours? Deja que nosotros te ayudemos, Raices del Ñuble tiene todo lo que buscas.
  
